@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

/*Navbar*/

nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(99, 167, 206, 0.993);
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 12px;
    justify-content: flex-end;
}

.link {
    margin: 5px;
    list-style: none;
    padding: 2px;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover {
    background-color: rgb(71, 160, 238);
}

.link-nav {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.titulo-nav {
    font-size: 18px;
    width: 100%;
    margin: 5px;
    list-style: none;
    padding: 5px;
    color: black;
    align-self: flex-start;
}


/*Carousel*/
.carousel {
    margin: 0 0 10px 0;
    border-radius: 10px;
}

.items {
    display: flex;
    flex-direction: row;
    width: 300%;
    overflow: hidden;
}

.item {
    height: 300px;
    background-color: grey;
    padding: 4px;
    width: 300%;
}

.carousel-nav {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: red;
}

.carousel-nav-button {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    background-color: azure;
}

.carousel-nav-button-select {
    background-color: black;
}

/*
    experiencias
*/
.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.experiences1,
.experiences2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 5px;
}

.container-experiences {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-experience {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    width: 90%;
    background-color: aqua;
    height: 50%;
    border: 1px solid black;
}

.titulo-experience {
    align-self: center;
    justify-self: center;
}

.link-experience {
    text-decoration: none;
    color: black;
}

.link-experience:active {
    color: black;
}

/*
    about
*/
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 5px;
}

.container-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: red;
}

.photo-perfil {
    margin-top: 5px;
    align-self: center;
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
}

.foto {
    background-color: azure;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

#nombre {
    align-self: center;
    margin: 5px 0 5px 0;
}

.objetivos {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.objetivo-list {
    list-style: square;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .nav {
        font-size: 15px;
    }

    .link {
        margin: 10px;
    }

    .titulo-nav {
        font-size: 20px;
        margin: 10px;
        padding: 10px;
    }

}

@media screen and (min-width: 1024px) {
    .nav {
        font-size: 20px;
    }

    .link {
        margin: 15px;
        padding: 5px;
    }

    .titulo-nav {
        font-size: 25px;
        margin: 10px;
        padding: 10px;
    }

    .experiences1,
    .experiences2 {
        flex-direction: row;
        padding: 0;
    }

    .container-experiences{
        padding: 0;
        margin: 0;
    }

    .card-experience {
        width: 45%;
        margin-top: 0px;
        background-color: aqua;
        height: 750px;
        border: 1px solid black;
    }

}